@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities{
    .btn{
      @apply bg-[#58c6ed] p-3 w-[140px] mt-10 sm:w-[200px] xl:w-[300px] xl:h-[100px] xl:text-2xl
    }
    .sub-head{
      @apply text-2xl sm:text-4xl md:text-6xl lg:text-7xl  
    }
    .head-decoration{
      @apply text-[#8f6bf8] sm:text-2xl md:text-4xl lg:text-5xl xl:text-6xl
    }
    .head-text{
      @apply text-[1rem] sm:text-[1.3rem] md:text-[1.6rem] text-[#e6db74]  lg:text-[2rem] xl:text-[2.5rem]
    }
    .page-head{
      @apply text-center mt-10 text-4xl md:text-5xl lg:text-6xl xl:text-[4.123rem] 2xl:text-6xl
    }
  }
  body{
    background-color:   rgb(33, 33, 33);
    /* background-color:   #000; */
    color: #fff;
  }
  .vt323-regular {
    font-family:  "VT323", monospace !important;
    font-weight: 400;
    font-style: normal;
  }


  